{% extends 'base.html' %}

{% block contenido %}

<div class="div card">
    <div class="div car-body">
        <div class="div container">
            <div class="div row">
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">

                    <table class="table-striped table-hover table-responsive-sm">

                        <tr>
    
                            <th>nombre_producto</th>
                            <th>precio_venta</th>
                            <th>marca</th>
    
    
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}