{% extends 'base.html' %}
{% load static %}
{% block contenido %}

{% load crispy_forms_tags %}
<h3>Ingrese su nueva Contraseña</h3>

<form method="post">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {% csrf_token %}
                {{ form | crispy }}
                <br>

                <input type="Submit" name="Actualizar Contraseña" class="btn btn-dark float-end">

            </div>

        </div>
    </div>
</form>
{% endblock %}